html,
body {
    margin: 0;
    background-color: var(--primary-color-dark);
    overflow: hidden;
    font-family: "Open Sans";
}


iframe {
    border: none;
}

#wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 3vh;
    left: 3vw; 
    background-color: var(--background-color-transparent);
    width: 16vw;
    padding: .5vw .2vw;
    padding-left: .5vw;
    border-radius: 5px;
}

#sidebar-menu {
    flex: 1 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 1vh;
    height: 56vh;
    width: 100%;
    scrollbar-color: var(--indicate-color) transparent;
    scrollbar-width: thin;
}

#content {
    flex-grow: 1;
}

img.logo {
    width: 10vw;
    margin-top: 1.5vh;
}

div.sidemenu {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

h1.sidemenu-title {
    font-size: 1.4rem;
    align-self: start;
}

.language-select-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2vh;
    width: 70%;
}

.language-select-box > * {
    margin-right: .5vw;
}

a,
a:visited,
a:link {
    color: black;
    text-decoration: none;
}

a:hover,
a:active {    
    color: var(--primary-color);
}

.clickable {
    color: black;
}

.clickable:hover {
    cursor: pointer;
    color: var(--primary-color);
}


#sidebar-menu::-webkit-scrollbar {
    width: 5px;
}

#sidebar-menu::-webkit-scrollbar-thumb {
    background-color: var(--indicate-color);
    
}

#sidebar-menu::-webkit-scrollbar-track {
    background: transparent;
}


#minimap {
    display: flex;
    position: fixed;
    top: 3vh; 
    right: 3vw;
    width: 14.5vw;
    height: 14.5vw;
    padding: .2vw;
    border-radius: 1000vw;
    background-color: var(--background-color-transparent);
}

#minimap > div {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

#copyright-box {
    position: fixed;
    bottom: 1vw;
    left: 1vw;
}

.discreet-text {
    font-size: .6rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: var(--text-color);
    opacity: .7;
}

.discreet-text a,
.discreet-text a:visited,
.discreet-text a:link {
    color: var(--text-color);
}

.discreet-text a:hover,
.discreet-text a:active {
    color: var(--primary-color)
}


.minimap {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10000vw;
}

.minimap-canvas {
    transition: opacity 500ms;
}

.minimap-marker {
    top:0;
    left:0;
    z-index: 100;
}

.minimap-view-direction {
    top:0;
    left:0;
    z-index: 10;
}

.hide {
    opacity: 0;
    transition: opacity 500ms;
}


.table {
    display: flex;
    flex-direction: column;
}

.table-row {
    display: flex;
    flex-direction: row;
}

#debug {
    position: absolute;
    top: 2vw;
    left: 48vw;
    z-index: 1000;    
    padding: .2vh .5vw;
    border-radius: 5px;
    background-color: var(--background-color-transparent);
}

