@media screen and (max-width: 769px) and (orientation:portrait) {
    #sidebar {
        width: 50vw;
    }
    
    #sidebar-menu {
        height: 18vh;
    }
}

@media screen and (max-width: 769px) and (orientation:landscape) {
     .discreet-text {
        font-size: .5rem;
    }   
}
