@media screen and (max-width: 1025px) {
    #sidebar {
        width: 26vw;
    }
    
    #sidebar-menu {
        height: 52vh;
    }
    
    img.logo {
        width: 15vw;
        margin-top: 1.5vh;
    }
    
    #minimap {
        width: 19.5vw;
        height: 19.5vw;
    }
    
    h1.sidemenu-title {
        font-size: 1rem;
    }
}
