base-tablet.style.css
.card-board {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    align-items: center;
    margin: .3vh .2vw;
    padding: .2vw;
    border-radius: 5px;
    background-color: var(--background-color-light);
    cursor: pointer;
    transition: background-color 200ms;
    opacity: .8;
}

.card:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-color);
    transition: background-color 500ms;
    opacity: 1;
}

img.card-cover {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: .5vw;
}

.card-title-box {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1rem;
}

.card-sub-title {
    font-size: .8rem;
}

.card.active {
    background-color: var(--primary-color);
    color: var(--text-color);
    opacity: 1;
}

