:root {
    --body-background-color: white;

    --background-color: white;
    --background-color-transparent: rgba(255, 255, 255, 0.5);
    --background-color-light: #ecf1f4;
    --background-color-dark: #4f5a65;
    --border-color: #cd1331;

    --primary-color: #015fae;
    --primary-color-dark: #003062;

    --indicate-color: #cd1331;

    --text-color: rgb(239, 240, 241);
    --text-hover-color: rgb(239, 240, 241);
} 
